/lab-padroes-projetos-java/SingletonLazy/target/
/lab-padroes-projetos-java/lab.padroes.projetos.java/target/
/lab-padroes-projetos-java/Singletone/nbproject/private/
/lab-padroes-projetos-java/Singletone/build/
